:root {
    --primary-color: #136942ff;
    --secondary-color:#FAFFF4;
    --third-color: #FFE25Fff;
  }
  
  body {
    margin: 0;
    background-color: var(--primary-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.width100 {
    width: 100%;
}

Button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}